.content__right{
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.content__left{
    height: 100vh;
}

.content__left-info{
    width: 440px;
    margin-right: 60px;
    margin-left: calc(100% - 500px);
    margin-top: 20px;
}

.content__right-info{
    width: 360px;
    margin-left: 60px;
    margin-top: 60px;
}

.content__title{
    font-size: 4.0rem;
    line-height: 5.0rem;
}

.content__info{
    font-size: 1.6rem;
    line-height: 3.0rem;
    margin-top: 20px;
}

.content__login-title{
    font-size: 2.6rem;
    line-height: 2.6rem;
}

.content__login-info{
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 16px 0 40px;
}

.content__login-descrip{
    font-size: 1.3rem;
    line-height: 1.3rem;
    cursor: default;
    margin: 26px 0 12px;
}

input[type=email],
input[type=password]{
    outline: none;
    border: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    flex: 1;
    padding-right: 10px;
}

.content__login-input{
    display: flex;
    align-items: center;
    height: 52px;
    width: 378px;
    background-color: white;
    border: 1px solid #ddd;
}

.content__login-input i{
    font-size: 1.4rem;
    color: rgb(1, 205, 116);
    margin-right: 10px;
    margin-left: 10px;
    width: 14px;
    text-align: center;
    cursor: default;
}

.remember{
    display: flex;
    margin: 24px 0 20px;
}

.remember p{
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-left: 10px;
}

.content__agree{
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 25px 0;
}

.content__agree a{
    color: var(--primary-color);
}

.content__agree a:hover{
    text-decoration: none;
}

input[type=submit]{
    width: 130px;
    height: 40px;
    color: white;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.footer{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 580px;
}

.footer__content{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

